@font-face {
    font-family: 'KboGothic_B';
    src: url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'KboGothic_BB';
    src: url('../font/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'KboGothic_M';
    font-weight: 400;
    src: url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'KboGothic_L';
    src: url('../font/Pretendard-Light.woff') format('woff');
}

.showBox {
    opacity: 1;
    transform: translateY(0);
}

.closeBox {
    opacity: 0;
    transform: translateY(-100%);
}

body {
    font-family: 'KboGothic_M' !important;
    color: #333333;
    background-color: #f7f7f7;
}

p {
    font-family: 'KboGothic_M' !important;
}

h1 {
    font-family: 'KboGothic_BB' !important;
    color: #333333
}

h2 {
    font-family: 'KboGothic_B' !important;
    color: #333333;
}

.slider {
    margin: 0 20px;
    overflow: "hidden";
    padding: 2rem 0;
    text-align: center;
}

.slider img {
    width: 100%;
    border-radius: 10px;
}

.react-multi-carousel-list {
    padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
    border: none;
    background: rgb(255, 68, 68);
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
    background: rgb(255, 68, 68) !important;
}